.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
    text-align: center;
  }

.navbar a {
  /* float: left; */
  padding: 50px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%; 
  text-align: center; 
}

.navbar a:hover {
  background-color: red;
}

/* .navbar a.active {
  background-color: gold;
} */

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; 
  }
}